*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.navbar image{
   cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #008000;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#90EE90);
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px
}
.col-3{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    transition: transform 0.3s;
}
.title{
    text-align: center;
    margin: 70px auto 80px;
    position: relative;
    line-height: 50px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

h4{
    color: darkgreen;
    
}
.col-4 p{
    font-size: 15.5px;
}
.rating .fa{
    color: #008000;
}
.col-4:hover{
    transform: translateY(-5px)
}
.offer{
    background: radial-gradient(#fff,#90EE90);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
    
}
small{
    color: #006400;
}

/*------testimonial-----*/

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px)
}
.fa.fa-quote-left{
    font-size: 34px;
    color: darkgreen;
}
.col-3 p{
    font-size: 15px;
    margin: 12px 0;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*-------footer------*/
.footer{
    background: #fff;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: darkgreen;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.active{
    border-radius: 20px;
    padding: 5px 10px;
    transition: transform 0.3s;
}
.active:hover{
    background-color: white;
    transform: translateY(-4px);
}
.region{
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 20px;
    
}
.menu-icon{
    width: 28px;
    display: none;
    margin-left: 20px;
}
/*--------------- media wuery for menu ---------*/
@media only screen and (max-width: 959px){
     
    nav ul{
        position: absolute;
        top: 160px;
        left: 0;
        background: #333; 
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    nav ul li a{
        color: #ff523b;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}






























